body {
    font-family: 'Roboto', sans-serif;
    background-color:darksalmon;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
    color: #343a40;
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #495057;
}

input[type="number"], input[type="text"], input[type="date"] {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    overflow-y: auto;
}

table, th, td {
    border: 1px solid #dee2e6;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f1f3f5;
    color: #495057;
}

td .edit, td .delete {
    cursor: pointer;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}

td .edit:hover, td .delete:hover {
    color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    background-color: #f8f9fa;
    margin-bottom: 10px;
    padding: 10px;
    border-left: 5px solid #007bff;
    border-radius: 5px;
    font-size: 16px;
    color: #495057;
}